a.profile-avatar {

  width: 39px;
  height: 39px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    45deg,
    #7737F6,
    #A956E5
  );

  color: white;

  font-weight: 600;
  font-size: 18px;

  text-decoration: none;

  cursor: pointer;

  transition: transform 0.15s, box-shadow 0.15s;

}

a.profile-avatar:hover {

  transform: translateY(-1px);

  box-shadow: 0 2px 6px rgba(0,0,0,0.2);

}